
.container {
    width: 1280px;
    margin: 0 auto;
}
.basic-block {
    padding: 50px 0;
    text-align: center; /*Общее для всего макета*/

}
.head-block{
    background-image: url("img/download.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 530px;
    padding-left: 190px;
    padding-bottom: 145px;
    color: #fff;
}

/*стили заголовка верхнего блока страницы*/
.head-block-title{
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

/*стили подзаголовка верхнего блока страницы*/
.head-block-subtitle {
    margin: 0 0 25px;
    font-size: 18px;
}

/*стили для слогана, который на верхнем блоке страницы с полупрозрачноым фоном в тонкой белой рамке*/
.head-block-slogan {
    font-size: 54px;
    text-transform: uppercase;
    padding: 45px 30px;
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.5) ;
    border: 1px white solid;

}

/*так как между словом we и остальным текстом расстояние больше чем обычный пробел, а слово we и без того уже
обернуто в строчный елемент, можем присвоить ему второй класс, который будет отвечать только за этот отступ.
Это нормально так как класс yellow-text штука универсальная и будет использоваться по всему документу
для переопределения цвета разных частей текста, чтобы его не "засорять" еще одним свойство создаем отдельный класс*/
.slogan-margin {
    margin-right: 50px;

}

/*универсальный класс для переопределения цвета текста в желтый из макета*/
.yellow-text {
    color: #f1ad1d;

}
.basic-title {
    font-family: sans-serif;
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
    text-transform: uppercase;
    margin-bottom: 35px;
}
.basic-subline {
    font-family: sans-serif;
    font-size: 17px;
    color: rgba(77, 73, 67, 255);
}
.orange-line {
    margin-top: 50px;
    border: solid 2px #f1ad1d;
    width: 60px;
}
.web-awarld {
    padding-top: 35px;
}
.navbar-logo {
    display: inline-block;
    font-size: 36px;
    width: 10%;
    font-weight:bold;
    color: #f1ad1d;
    text-transform: uppercase;
    vertical-align: middle;
    /*относительно него
    элемент менший работает*/

}
.navbar-menu {
    display: inline-block;
    width: 88%;
    text-align: right;
    /*для того чтобы
    блоки стали строчными*/
    list-style: none;
    word-spacing: 70px;
}
.navbar-menu-item {
    display: inline-block;
}
.navbar-menu-link{
    text-decoration: none;
    color: #333333;
    font-family: sans-serif;
    font-size: 18px;
}
/*.orange-line-big {*/

/*    width: 1280px;*/
/*    padding-top: 25px;*/
/*    border: solid 2px #f1ad1d;*/
/*}*/
